     <h2>Potvrďte Informace</h2>

  <p>
    <strong></strong>
    <%=h @loanapp.jméno %>
  </p>

  <p>
    <strong></strong>
    <%=h @loanapp.příjmení %>
  </p>

   <p>
    <strong></strong>
    <%=h @loanapp.telefon %>
  </p>

    <p>
    <strong></strong>
    <%=h @loanapp.email %>
  </p>

   <p>
    <strong></strong>
    <%=h @loanapp.adresa %>
  </p>

  <p>
    <strong></strong>
    <%=h @loanapp.psč %>
  </p>

  <p>
    <strong></strong>
    <%=h @loanapp.zdroj_příjmu %>
  </p>

  <p>
    <strong></strong>
    <%=h @loanapp.průměrná_výše_měsíčního_příjmu %>
  </p>

  <p>
    <strong></strong>
    <%=h @loanapp.povinné_měsíční_výdaje %>
  </p>

  <p>
    <strong></strong>
    <%=h @loanapp.výše_půjčky %>
  </p>

  <p>
    <strong></strong>
    <%=h @loanapp.doba_splácení %>
  </p>

  <p>
    <strong></strong>
    <%=h @loanapp.císlo_účtu %>
  </p>  