<h2>Osobní údaje</h2>

  <p>
    <%= f.label :jméno %><br>
    <%= f.text_field :jméno %>
  </p>

    <p>
    <%= f.label :příjmení %><br>
    <%= f.text_field :příjmení %>
  </p>

    <p>
    <%= f.label :telefon %><br>
    <%= f.text_field :telefon %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :adresa %><br>
    <%= f.text_field :adresa %>
  </p>

  <p>
    <%= f.label :psč %><br>
    <%= f.text_field :psč %>
  </p>