 <h2>Příjmy a výdaje</h2>

  <p>
    <%= f.label :zdroj_příjmu %><br>
    <%= f.text_field :zdroj_příjmu %>
  </p>

    <p>
    <%= f.label :průměrná_výše_měsíčního_příjmu %><br>
    <%= f.text_field :průměrná_výše_měsíčního_příjmu %>
  </p>

    <p>
    <%= f.label :povinné_měsíční_výdaje %><br>
    <%= f.text_field :povinné_měsíční_výdaje %>
  </p>