    <h2>Parametry produktu</h2>

  <p>
    <%= f.label :výše_půjčky %><br>
    <%= f.text_field :výše_půjčky %>
  </p>

    <p>
    <%= f.label :doba_splácení %><br>
    <%= f.text_field :doba_splácení %>
  </p>

    <p>
    <%= f.label :císlo_účtu %><br>
    <%= f.text_field :císlo_účtu %>
  </p>